body
    margin: 0
    padding: 0
    background: #1e448a
    height: 100vh
    width: 100vw
    display: flex
    align-items: center
    justify-content: center

    .loader
        width: 200px
        height: 200px
        position: relative

        .star-holder
            width: 100%
            height: 100%
            position: absolute
            left: 0
            top: 0

            @for $i from 2 to 13
                $index: $i - 1
                $rot: 30 * $index * 1deg
                $star-rotation: (180 - ($index * 30)) * 1deg

                &:nth-child(#{$i})
                    transform: rotate($rot)

                    .star
                        animation-delay: (12 - $index) * -.1s
                        transform: rotate($star-rotation)

            .star
                margin: 10px 0
                position: relative
                display: block
                color: #FDCB0B
                width: 0
                height: 0
                border-right: 20px solid transparent
                border-bottom: 14px solid #FDCB0B
                border-left: 20px solid transparent
                transform: rotate(35deg)
                animation: fadeAnimation 1.2s infinite ease-in-out both

                &::before
                    border-bottom: 16px solid #FDCB0B
                    border-left: 6px solid transparent
                    border-right: 6px solid transparent
                    position: absolute
                    height: 0
                    width: 0
                    top: -9px
                    left: -13px
                    display: block
                    content: ''
                    transform: rotate(-35deg)

                &::after
                    position: absolute
                    display: block
                    color: red
                    top: 1px
                    left: -21px
                    width: 0
                    height: 0
                    border-right: 20px solid transparent
                    border-bottom: 14px solid #FDCB0B
                    border-left: 20px solid transparent
                    transform: rotate(-70deg)
                    content: ''

@keyframes fadeAnimation
    0%, 49%, 100%
        opacity: .2
    50%
        opacity: 1